<% layout('layouts/boilerplate') %> 

<div class="flex justify-center items-center flex-wrap gap-[2em] my-4 border border-[#ddd] text-white max-w-7xl mx-auto bg-[#02044a] py-8 px-4 rounded-xl">
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/HTML5.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">HTML 5</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/CSS3.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">CSS 3</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/javascript.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Javascript</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/github.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">GitHub</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/express.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Express JS</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/mongoose.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Mongoose</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/mongodb.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">MongoDB</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/nodejs.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Node JS</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/tailwind.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Tailwind CSS</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/bootstrap.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Bootstrap</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/c++.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">C++</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/git.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Git</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/heroku.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Heroku</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/java.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Java</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/python.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Python</h1>
    </div>
    <div class="skill w-[270px] h-[200px] bg-[#1e1e1e] flex flex-col items-center justify-around p-5 rounded-md shadow-[8px_8px_12px_-9px_rgba(255,255,255,1)] hover:-translate-y-2 transition-transform duration-300">
        <div class="skill-img bg-white rounded-lg p-1">
            <%- include('../public/svg/skills/c.svg') %> 
        </div>
        <h1 class="skill-name text-xl bg-white text-black font-bold p-2 px-4 rounded-3xl">Python</h1>
    </div>
</div>